* {
    box-sizing: border-box;
}

body {
    background-color: grey;
}

#regForm {
    background-color: #ffffff;
    margin: auto;
    padding: 40px;
    width: 90%;
    min-width: 400px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

select{
    height: 40px;
    margin-left: 50px;
    margin-bottom: 8px;
    width: 250px;
}

/* Mark input boxes that gets an error on validation: */
/* input.invalid {
    background-color: #ffdddd;
} */

/* Hide all steps by default: */
.tab {
    display: none;
}

button {
    background-color: #1e8fc8;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
    border-radius: 5px;
}
.is-hidden {
    display: none;
}

button:hover {
    opacity: 0.8;
}

#prevBtn {
    background-color: #bbbbbb;
}

.progressbar{
    text-align: center;
    background-color: #fff;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
}

/* Make circles that indicate the steps of the form: */
.step {
    margin: 0 10px;
    background-color: #bbbbbb;
    border: solid black 1px;
    display: inline-block;
    color: black;
    border-radius: 10px;
    padding: 8px 17px;
}

.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #1e8fc8;
}

.tabinput input{
    margin-bottom: 30px;
    height: 40px;
    width: 1000px;
}
.inputplate{
    width: 80%;
}

.selectgroup{
    display: block;
    margin-right: 50px;
}
.selectchoice{
    width: 250px;
    height: 40px;
    margin-bottom: 8px;
    margin-left: 50px;
    display: block;
}
.groupbetween{
    display: inline-flex;
}

.btn-radio{
    border: 1px solid black;
    border-radius: 5px;
    height: 35px;
    width: 100px;
    margin-right: 15px;
}

.drop-zone{
    max-width: 300px;
    max-height: 400px;
}
.drop-zone input {
    max-height: 55px;
}
.numberinput {
    text-align: center;
}
.locationinput select{
    width: 250px;
    height: 40px;
    margin-bottom: 8px;
    margin-left: 50px;
    display: block;
}
.locationinput input{
    text-align: center;
}
