<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="/assets/boostrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/form-element.css">
    <link rel="stylesheet" href="/assets/css/style.css">

    <style>
        .error {
            color: red;
        }
    </style>
</head>

<body>
<div class="grid row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="form-box">
            <div class="form-center">
                <form role="form" th:action="@{/forgot_password}" method="post" class="login-form forgotPass-1"
                      id="forgotPass">
                    <div>
                        <h2>Reset Password</h2>
                        <h3>Enter the email address associated with your account, and we'll email you with the link
                            to reset your
                            password.</h3>
                        <br>
                    </div>
                    <div th:if="${error != null}">
                        <p class="text-danger">[[${error}]]</p>
                    </div>
                    <div class="form-group">
                        <label class="sr-only">Email</label>
                        <input type="email" name="email" placeholder="Your email address"
                               class="form-email form-control">
                    </div>
                    <button type="submit" class="btn" data-toggle="modal" data-target="#submitModal">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Button content modal -->
<div class="modal fade" id="submitModal" tabindex="-1" aria-labelledby="submitModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Notification</h5>
            </div>
            <div class="modal-body">
                We will send an email with the attached link to reset your password. Please check it in your mailbox.
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-secondary" data-dismiss="modal" value="OK"/>
            </div>
        </div>
    </div>
</div>


<!-- Javascript -->
<script src="/assets/js/jquery-1.11.1.min.js"></script>
<script src="/assets/boostrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"
        integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/assets/js/forgotpass.js"></script>
</body>

</html>