<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sign in</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500" />
    <link rel="stylesheet" href="/assets/boostrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/assets/css/form-element.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />

    <style>
        .error {
            color: red;
        }
    </style>
</head>

<body class="bg-light">
<!--Button-->
<div class="d-flex justify-content-center">
    <!--Sign in button-->
    <div class="text-center">
        <a href="" class="btn btn-primary" data-toggle="modal" data-target="#signinPage">Sign in</a>
    </div>
</div>
<!--Sign in content-->
<div class="modal fade" id="signinPage">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">LOG IN USING YOUR ACCOUNT</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="">
                            <div class="form-bottom">
                                <form class="login-form" action="/signin" method="post" id="loginForm">
                                    <div class="form-group">
                                        <label class="sr-only">Email</label>
                                        <input type="text" name="email" placeholder="Your email address"
                                               class="form-email form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only">Password</label>
                                        <input type="password" name="password" placeholder="Password..."
                                               class="form-password form-control" />
                                    </div>
                                    <div class="form-group">
                                        <a th:href="@{/forgot_password}">Forgot your password?</a>
                                    </div>
                                    <button type="submit" class="btn">Sign in</button>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Javascript -->
<script src="/assets/js/jquery-1.11.1.min.js"></script>
<script src="/assets/boostrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"
        integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!--<script src="/assets/js/scripts.js"></script>-->
<script src="/assets/js/login.js"></script>
</body>

</html>