<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Successfully</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="/assets/boostrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/form-element.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
<div class="grid row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div style="margin-top: 50px">
            <h2 class="font-weight-bold">Your password just be reset successful!</h2>
        </div>
        <div class="border-bottom border-bottom"></div>
        <div style="margin-top: 30px">
            <a class="text-decoration-none" th:href="@{/templates/home}"><h4>Click here to return home page</h4></a>
        </div>
    </div>
</div>
</body>
</html>
