<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Car</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap"
          rel="stylesheet">

    <!--    ICON-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
          integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <!--    BOOTSTRAP-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--    CSS-->
    <link rel="stylesheet" href="/assets/css/common/menu.css">
    <link rel="stylesheet" href="/assets/css/car/car_search.css">
    <link rel="stylesheet" href="/assets/css/car/car_item.css">
    <link rel="stylesheet" href="/assets/css/car/car_detail.css">


    <link rel="stylesheet" href="/assets/css/form-element.css"/>
    <link rel="stylesheet" href="/assets/css/style.css"/>
    <link rel="stylesheet" href="/assets/boostrap/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/assets/boostrap/css/animated.css">
    <link rel="stylesheet" href="/assets/boostrap/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/boostrap/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/assets/boostrap/css/magnific-popup.css">
    <link rel="stylesheet" href="/assets/boostrap/css/aos.css">
    <link rel="stylesheet" href="/assets/boostrap/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/assets/boostrap/css/jquery.timepicker.css">
    <link rel="stylesheet" href="/assets/boostrap/css/style.css">
</head>
<body>
<body>
<div th:insert="~{/fragment/header::menu(${user})}">
</div>

<div style="margin:32px">
    <a th:href="@{/home}">Home</a>
    <span> > Add Cars</span>
</div>
<div class="container">
    <a href="/listCar" class="btn btn-outline-primary">List Car</a>
    <form action="" th:object="${addCar}" method="post" class="form-add" id="formAdd">
        <h3 class="form-add-header">Add a Car</h3>
        <div class="form-add-container">
            <div class="form-add-container-item">
                <label for="brand"><strong>Brand:</strong></label>
                <div>
                    <input type="text" th:field="*{brand}" id="brand" name="brand"/>
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('brand')}" th:errorclass="error" th:errors="*{brand}"></div>
                </div>
            </div>
            <div class="form-add-container-item">
                <label for="model"><strong>Model:</strong></label>
                <div>
                    <input type="text" th:field="*{model}" id="model" name="model" oninput="this.className = ''"/>
                    <p th:if="${#fields.hasErrors('model')}" th:errorclass="error" th:errors="*{model}"></p></div>
            </div>
            <div class="form-add-container-item">
                <label for="year"><strong>Year:</strong></label>
                <div>
                    <input type="number" th:field="*{year}" id="year" name="year" oninput="this.className = ''"/>
                    <p th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></p></div>
            </div>
            <div class="form-add-container-item">
                <label for="district"><strong>District:</strong></label>
                <div>
                    <input type="text" th:field="*{district}" id="district" name="district"
                           oninput="this.className = ''"/>
                    <p th:if="${#fields.hasErrors('district')}" th:errors="*{district}"></p></div>
            </div>
            <div class="form-add-container-item">
                <label for="city"><strong>City:</strong></label>
                <div>
                    <input type="text" th:field="*{city}" id="city" name="city" oninput="this.className = ''"/>
                    <p th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></p></div>
            </div>
            <div class="form-add-container-item">
                <label for="price"><strong>Base price:</strong></label>
                <div>
                    <input type="number" th:field="*{price}" id="price" name="price" oninput="this.className = ''"/>
                    VND/Day
                    <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p></div>
            </div>
            <div class="form-add-container-item">
                <label for="deposit"><strong>Required deposit:</strong></label>
                <div>
                    <input type="number" th:field="*{deposit}" id="deposit" name="deposit"
                           oninput="this.className = ''"/>
                    <p th:if="${#fields.hasErrors('deposit')}" th:errors="*{deposit}"></p>
                </div>
            </div>
            <div class="form-add-container-item">
                <label><strong>Status:</strong></label>
                <div>
                    <select name="status" th:field="*{status}" class="form-select"
                            aria-label="Default select example">
                        <th:block th:each="status: ${carStatus}" th:switch="${status.name()}">
                            <option th:case="'Available'" th:value="'Available'">Available</option>
                            <option th:case="'Stopped'" th:value="'Stopped'">Stopped</option>
                            <option th:case="'Booked'" th:value="'Booked'">Booked</option>
                        </th:block>
                    </select>
                </div>
            </div>
            <div class="form-add-container-item">
                <input type="submit" class="btn btn-success" value="Save">
                <input type="reset" class="btn btn-success" value="Reset">
            </div>
        </div>
    </form>
</div>
<!--FOOTER BEGIN-->
<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2"><a href="#" class="logo">Car<span>Rental</span></a></h2>
                    <p><a href="#">Search Cars And Rates</a></p>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                        <li class="ftco-animate">
                            <a href="#">
                               <span>
                                   <i class="fa-brands fa-square-facebook"></i>
                               </span>
                            </a></li>
                        <li class="ftco-animate justify-content-center">
                            <a href="#">
                                <span>
                                    <i class="fa-brands fa-square-twitter"></i>
                                </span>
                            </a>
                        </li>
                        <li class="ftco-animate justify-content-center">
                            <a href="#">
                                <span>
                                    <i class="fa-brands fa-square-instagram"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-5">
                    <h2 class="ftco-heading-2">CUSTOMER ACCESS</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-2 d-block">Manage My Booking</a></li>
                        <li><a href="#" class="py-2 d-block">My Wallet</a></li>
                        <li><a href="#" class="py-2 d-block">My Car</a></li>
                        <li><a href="#" class="py-2 d-block">Log in</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">JOIN US</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-2 d-block">New User Sign Up</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">HAVE A QUESTION?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <a href="#">
                                <i class="fa-solid fa-phone"></i>
                                <span class="text">369 Duy Tan, Cau Giay, Ha Noi, Viet Nam</span>
                            </a>
                            <li>
                                <a href="#">
                                    <i class="fa-solid fa-phone"></i>
                                    <span class="text">+1900 0091</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-solid fa-envelope"></i>
                                    <span class="text">carrental@support.com</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p>
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script>
                    All rights reserved
                </p>
            </div>
        </div>
    </div>
</footer>
<!--FOOTER END-->


<!-- loader -->
<div id="ftco-loader" class="show fullscreen">
    <svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                stroke="#F96D00"/>
    </svg>
</div>

<!-- JQUERY -->
<!--JS-->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<!--JS-->
<script src="/assets/js/search_car.js"></script>
<!-- Javascript -->
<script src="/assets/boostrap/js/jquery.min.js"></script>
<script src="/assets/boostrap/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/assets/boostrap/js/popper.min.js"></script>
<script src="/assets/boostrap/js/bootstrap.min.js"></script>
<script src="/assets/boostrap/js/jquery.easing.1.3.js"></script>
<script src="/assets/boostrap/js/jquery.waypoints.min.js"></script>
<script src="/assets/boostrap/js/jquery.stellar.min.js"></script>
<script src="/assets/boostrap/js/owl.carousel.min.js"></script>
<script src="/assets/boostrap/js/jquery.magnific-popup.min.js"></script>
<script src="/assets/boostrap/js/aos.js"></script>
<script src="/assets/boostrap/js/jquery.animateNumber.min.js"></script>
<script src="/assets/boostrap/js/bootstrap-datepicker.js"></script>
<script src="/assets/boostrap/js/jquery.timepicker.min.js"></script>
<script src="/assets/boostrap/js/scrollax.min.js"></script>
<script src="/assets/boostrap/js/main.js"></script>
<script src="/assets/js/jquery-1.11.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"
        integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/assets/js/login.js"></script>
<script src="/assets/js/signup.js"></script>

</body>
</html>