<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>CarRental</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--    FONT-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap"
          rel="stylesheet">

    <!--    ICON-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
          integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <!--    BOOTSTRAP-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--    CSS-->
    <link rel="stylesheet" href="/assets/css/common/menu.css">
    <link rel="stylesheet" href="/assets/css/car/car_search.css">
    <link rel="stylesheet" href="/assets/css/car/car_item.css">
    <link rel="stylesheet" href="/assets/css/car/car_detail.css">
</head>

<body>

<div th:insert="~{/fragment/header::menu(${user})}">
</div>

<div style="margin:32px">
    <a th:href="@{/home}">Home</a>
    <span> > My Car</span>
</div>

<div class="list_car_header">
    <div class="car_action" style="display: flex; align-items: center">
        <a href="/addCar" class="btn btn-primary ">Add Car</a>
        <a href="/Add-Car" class="btn btn-primary ">Test Add Car</a>
        <p style="color: black">Total Elements <span th:text="${resultPage.getTotalElements()}"></span> cars</p>
    </div>
    <div style="display: flex; align-items: center">
        <a href="#" class="icon_border show_list" style="background-color: #ffc107;">
            <i class="fa-solid fa-list-ul" style="margin: 0px"></i>
        </a>
        <a href="#" class="icon_border show_table">
            <i class="fa-solid fa-table"></i>
        </a>
        <form th:action="@{/listCar}">
            <select class="custom-select" name="sort" onchange="this.form.submit()">
                <option value="none" th:selected="${sortType == 'none'}">None</option>
                <option value="ascPrice" th:selected="${sortType=='price'}">ASC Price</option>
                <option value="descPrice" th:selected="${sortType=='price'}">DESC Price</option>
            </select>
            <input type="hidden" name="id" th:value="${id}">
            <input type="hidden" name="size" th:value="${pageSize}">
            <input type="hidden" name="page" th:value="${currentPage}">
        </form>
    </div>
</div>

<!--<div class="list_car_content" th:if="${resultPage.getTotalElements()>0}">-->
<!--    <div th:insert="~{/fragment/carInfo::car_item(${resultPage.getContent()})}"></div>-->
<!--CONTENT BEGIN-->
<div class="list_car_content" th:if="${totalItems>0}">
    <div class="car_item" th:each="list :${carList}">
<!--                <div class="car_image">-->
<!--                    <div th:id="'carDTO' + ${carDTO.getId()}" class="carousel slide" data-ride="carousel">-->
<!--                        <ol class="carousel-indicators">-->
<!--                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>-->
<!--                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>-->
<!--                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>-->
<!--                        </ol>-->
<!--                        <div class="carousel-inner">-->
<!--                            <div class="carousel-item active">-->
<!--                                <img class="d-block w-100" th:src="@{${carDTO.getImages()[0]}}" alt="First slide">-->
<!--                            </div>-->
<!--                            <div class="carousel-item">-->
<!--                                <img class="d-block w-100" th:src="@{${carDTO.getImages()[1]}}" alt="Second slide">-->
<!--                            </div>-->
<!--                            <div class="carousel-item">-->
<!--                                <img class="d-block w-100" th:src="@{${carDTO.getImages()[2]}}" alt="Third slide">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <a class="carousel-control-prev" th:href="'#'+ 'carDTO' + ${carDTO.getId()}" role="button"-->
<!--                           data-slide="prev">-->
<!--                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--                            <span class="sr-only">Previous</span>-->
<!--                        </a>-->
<!--                        <a class="carousel-control-next" th:href="'#' + 'carDTO' + ${carDTO.getId()}" role="button"-->
<!--                           data-slide="next">-->
<!--                            <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--                            <span class="sr-only">Next</span>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                </div>-->
        <div class="car_info">
            <div class="car_info">
                <div class="uc20_info_header">
                    <label th:utext="${list.name}"></label>
                </div>

                <div class="uc20_info_body">
                    <div class="uc20_info_label">
                        <p>The powerful, stylish 2022 Camry Hybrid gives up nothing with its optimized fuel economy, *
                            advanced
                            tech and stirring drive. We have expanded our hybrid battery warranty to reflect our confidence
                            in
                            the quality, dependability and reliability of our products. </p>
                    </div>
                    <div class="uc20_info_detail">
                        <div class="uc20_info_detail_item">
                            <i class="fa-solid fa-location-dot"></i>
                            <p th:utext="${list.address}"></p>
                        </div>
                        <div class="uc20_info_detail_item">
                            <i class="fa-solid fa-file-invoice-dollar"></i>
                            <p th:utext="${list.price}"></p>
                        </div>
                        <div class="uc20_info_detail_item">
                            <i class="fa-solid fa-gear"></i>
                            <p th:utext="${list.status}"></p>
                        </div>
                    </div>
                </div>
                <div class="car_action">
                    <a class="btn btn-primary" th:href="@{/editCar/{id}(id=${list.id})}">View details</a>
                    <a class="btn btn-primary" th:href="@{/car/edit/{id}(id=${list.id})}">Edit car</a>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#confirmDedete">
                        Delete
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="confirmDedete" tabindex="-1" role="dialog"
                         aria-labelledby="confirmDedeteLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content p-4">
                                <div class="modal-header pt-1 pl-2">
                                    <h5 class="modal-title" id="confirmDedeteLabel">Confirm delete</h5>
                                    <button type="button" style="color: white" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-check pt-4">
                                        <p class="justify">Do you really want to delete the car?</p>
                                    </div>
                                </div>
                                <div class="modal-footer pt-4">
                                    <button type="button" class="btn btn-light mx-auto" style="width:45%"
                                            data-dismiss="modal">No
                                    </button>
                                    <a th:href="@{/deleteCar/{id}(id=${list.id})}" class="btn btn-light mx-auto"
                                       style="width:45%">Yes</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="car_paging">

        <form th:action="@{/listCar}">
            <label for="page_size">Page size </label>
            <select id="page_size" class="custom-select" name="size" onchange="this.form.submit()">
                <option th:selected="${pageSize==5}" value="5">5</option>
                <option th:selected="${pageSize==10}" value="10">10</option>
                <option th:selected="${pageSize==15}" value="15">15</option>
            </select>
            <input type="hidden" name="id" th:value="${id}">
        </form>

        <nav>
            <ul class="pagination" style="margin: 0">
                <li th:class="${currentPage==1}? 'page-item disabled' : 'page-item'">
                    <a class="page-link"
                       th:href="@{/listCar(id = ${id}, size = ${pageSize}, page = ${1})}">First</a>
                </li>
                <li th:each="pageNumber: ${pageNumbers}"
                    th:class="${pageNumber == currentPage}? 'page-item active': 'page-item'">
                    <a class="page-link "
                       th:href="@{/listCar(id = ${id}, size = ${pageSize}, page = ${pageNumber})}"
                       th:text="${pageNumber}"></a>
                </li>
                <li th:class="${currentPage==totolPage}? 'page-item disabled' : 'page-item'">
                    <a class="page-link"
                       th:href="@{/listCar(id = ${id}, size = ${pageSize}, page = ${totolPage})}">Last</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<div class="modal fade" id="modalID" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-body" th:insert="~{/fragment/detailCar::car_detail}">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Exit</button>
            </div>
        </div>
    </div>
</div>

<!-- JQUERY -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<!--JS-->
<script src="/assets/js/search_car.js"></script>

</body>
</html>