<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page Car Owner</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap"
          rel="stylesheet">

    <!--    ICON-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
          integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <!--    BOOTSTRAP-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--    CSS-->
    <link rel="stylesheet" href="/assets/css/common/menu.css">
    <link rel="stylesheet" href="/assets/css/car/car_search.css">
    <link rel="stylesheet" href="/assets/css/car/car_item.css">
    <link rel="stylesheet" href="/assets/css/car/car_detail.css">


    <link rel="stylesheet" href="/assets/css/form-element.css"/>
    <link rel="stylesheet" href="/assets/css/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/assets/boostrap/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/assets/boostrap/css/animated.css">
    <link rel="stylesheet" href="/assets/boostrap/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/boostrap/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/assets/boostrap/css/magnific-popup.css">
    <link rel="stylesheet" href="/assets/boostrap/css/aos.css">
    <link rel="stylesheet" href="/assets/boostrap/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/assets/boostrap/css/jquery.timepicker.css">
    <link rel="stylesheet" href="/assets/boostrap/css/style.css">
    <link rel="stylesheet" href="/assets/css/home/home_car_owner.css">

</head>

<body>
<div th:insert="~{/fragment/header::menu(${user})}">
</div>
<div class="container1">
    <div class="container1s">
        <h4 class="container2-header">Have a car for rent? Don't miss out of your benefit</h4>
        <div class="body3">
            <div class="container2-body">
                <div class="container2-body2">
                    <h5><i class="fa-solid fa-circle-dollar-to-slot"></i>How the insurance works</h5>
                    <div class="body-description">From the minute you hand the keys over till the second you get them
                        back you are covered. Your private insurance is not affected.
                    </div>
                </div>
                <div class="container2-body2">
                    <h5><i class="fa-solid fa-car"></i>Handing over your vehicle</h5>
                    <div class="body-description">You arrange th time and location for the exchange of your vehicle with
                        the renter.Both parties
                        willneed to agree and sign the vehicle rental sheet before and after key handover.
                    </div>
                </div>
            </div>
            <div class="container2-body">
                <div class="container2-body2">
                    <h5><i class="fa-solid fa-shield-halved"></i>It's completely free</h5>
                    <div class="body-description">We offer both owners and renters free sign-ups. It's only onceaa
                        vehicle is rentedout that a
                        share
                        is
                        deducted to cover admin and insurance.
                    </div>
                    <div class="container2-body2">
                        <h5><i class="fa-solid fa-triangle-exclamation"></i>You are in charge</h5>
                        <div class="body-description">All renters are pre-screened by us to ensure safety and get your
                            approval. If you do not
                            feel
                            comfortable with someone youare able to decline a booking.
                        </div>
                    </div>
                </div>
            </div>
            <div class="container2-body">
                <div class="container2-body2">
                    <h5><i class="fa-solid fa-check"></i>You decide the price</h5>
                    <div class="body-description">When you list a car you decide the price. We can help with as to
                        price, but
                        ultimately you decide!
                    </div>
                </div>
                <div class="container2-body2">
                    <h5><i class="fa-regular fa-credit-card"></i>Set payment</h5>
                    <div class="body-description">We pay you once a month and you can always view much your car has
                        earned under you user
                        profile.
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div>
    <div class="list_car_header">
        <h4 class="container2-header" style="padding-top: 20px">Make money on your car right away</h4>
    </div>
    <div class="list-car">
<!--        <a href="/listCar" class="btn btn-primary">List Your Car Today</a>-->
        <a href="/listCar" class="btn btn-outline-primary">List Your Car Today</a>
    </div>
</div>

<!--FOOTER BEGIN-->
<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2"><a href="#" class="logo">Car<span>Rental</span></a></h2>
                    <p><a href="#">Search Cars And Rates</a></p>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                        <li class="ftco-animate">
                            <a href="#">
                               <span>
                                   <i class="fa-brands fa-square-facebook"></i>
                               </span>
                            </a></li>
                        <li class="ftco-animate justify-content-center">
                            <a href="#">
                                <span>
                                    <i class="fa-brands fa-square-twitter"></i>
                                </span>
                            </a>
                        </li>
                        <li class="ftco-animate justify-content-center">
                            <a href="#">
                                <span>
                                    <i class="fa-brands fa-square-instagram"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-5">
                    <h2 class="ftco-heading-2">CUSTOMER ACCESS</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-2 d-block">Manage My Booking</a></li>
                        <li><a href="#" class="py-2 d-block">My Wallet</a></li>
                        <li><a href="#" class="py-2 d-block">My Car</a></li>
                        <li><a href="#" class="py-2 d-block">Log in</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">JOIN US</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-2 d-block">New User Sign Up</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">HAVE A QUESTION?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <a href="#">
                                <i class="fa-solid fa-phone"></i>
                                <span class="text">369 Duy Tan, Cau Giay, Ha Noi, Viet Nam</span>
                            </a>
                            <li>
                                <a href="#">
                                    <i class="fa-solid fa-phone"></i>
                                    <span class="text">+1900 0091</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-solid fa-envelope"></i>
                                    <span class="text">carrental@support.com</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p>
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script>
                    All rights reserved
                </p>
            </div>
        </div>
    </div>
</footer>
<!--FOOTER END-->


<!-- loader -->
<div id="ftco-loader" class="show fullscreen">
    <svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                stroke="#F96D00"/>
    </svg>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<!--JS-->
<script src="/assets/js/search_car.js"></script>
<!-- Javascript -->
<script src="/assets/boostrap/js/jquery.min.js"></script>
<script src="/assets/boostrap/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/assets/boostrap/js/popper.min.js"></script>
<script src="/assets/boostrap/js/bootstrap.min.js"></script>
<script src="/assets/boostrap/js/jquery.easing.1.3.js"></script>
<script src="/assets/boostrap/js/jquery.waypoints.min.js"></script>
<script src="/assets/boostrap/js/jquery.stellar.min.js"></script>
<script src="/assets/boostrap/js/owl.carousel.min.js"></script>
<script src="/assets/boostrap/js/jquery.magnific-popup.min.js"></script>
<script src="/assets/boostrap/js/aos.js"></script>
<script src="/assets/boostrap/js/jquery.animateNumber.min.js"></script>
<script src="/assets/boostrap/js/bootstrap-datepicker.js"></script>
<script src="/assets/boostrap/js/jquery.timepicker.min.js"></script>
<script src="/assets/boostrap/js/scrollax.min.js"></script>
<script src="/assets/boostrap/js/main.js"></script>
<script src="/assets/js/jquery-1.11.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"
        integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/assets/js/login.js"></script>
<script src="/assets/js/signup.js"></script>

</body>
</html>